* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #a1c7e0;
    font-family: system-ui;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-position: inside;
}
